doctype html
html
    head
        title #{pageTitle} | 예약하기
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- Bootstrap CSS
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        //- Load jQuery
        script(src="https://code.jquery.com/jquery-3.6.0.min.js", crossorigin="anonymous")
        //- Bootstrap 4 scripts
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js", integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
        style.
            body {
                min-height: 100vh;
                background: -webkit-gradient(linear, left bottom, right top, from(#92B5DB), to(#1D466C));
                background: -webkit-linear-gradient(bottom left, #92B5DB 0%, #1D466C 100%);
                background: -o-linear-gradient(bottom left, #92B5DB 0%, #1D466C 100%);
                background: linear-gradient(to top right, #92B5DB 0%, #1D466C 100%);
            }
            .input-form {
                max-width: 680px;
                margin-top: 80px;
                padding: 32px;
                background: #fff;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            }
            .modal-backdrop{
                display:none;
            }
    body
        .container
            .input-form-background.row
                .input-form.col-md-12.mx-auto
                    h4.mb-3 예약하기
                    form.validation-form(method="post" action="/reservation" novalidate)
                        .mb-3
                            label(for="startDate") 예약 시작 날짜
                            input(type="datetime-local", class="form-control", id="startDate", name="startDate", placeholder="Ex:AM:10:00", required)
                            .invalid-feedback 날짜를 선택해주세요.
                        .mb-3
                            label(for="endDate") 예약 종료 날짜
                            input(type="datetime-local", class="form-control", id="endDate", name="endDate", required)
                            .invalid-feedback 시간을 선택해주세요.
                        .mb-3
                        label(for="pets") 펫  선택
                        select.form-control(name="petId", id="petId", required)
                            each pet in pets
                                option(value=pet.id) #{pet.petName}
                        .invalid-feedback 고객님에 펫을 선택해주세요.
                        .mb-3
                        label(for="petSitter") 펫 시터 선택
                        select.form-control(name="petSitterId" id="petSitterId", required)
                            each petSitter in petSitters
                                 option(value=petSitter.petSitterId) #{petSitter.sitterName}
                        .invalid-feedback 펫 시터를 선택해주세요.
                        button(type="button", class="btn btn-primary btn-lg", id="Reservation-button")  등록하기
                        div.modal.fade#reservation-success.tab-pane(role='tabpanel')
                             .modal-dialog
                                .modal-content
                                    .modal-header
                                        h5.modal-title 예약이 완료되었습니다.
                                    .modal-body
                                        p 예약이 성공적으로 완료되었습니다. 예약한 시간에 맞춰 이용하시기 바랍니다.
                                    .modal-footer
                                        button(type="button", class="btn btn-secondary", data-dismiss="modal") 확인
script.
    $(document).ready(function() {
        //모달 초기화
        $('#reservation-success').modal({
            backdrop:'static',
            keyboard: false,
            show:false
        });
        //- 최소 검사 추가
        $("#startDate").on('input', function () {
            if ($(this).val() === "") {
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });
        //-로그인 버튼 클릭
        $("#endTime").on('input', function () {
            if ($(this).val() === "") {
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        });
        $("#PetId").on('input', function () {
            if ($(this).val() === "") {
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        })
        $("#PetSitterId").on('input', function () {
            if ($(this).val() === "") {
                $(this).addClass("invalid");
            } else {
                $(this).removeClass("invalid");
            }
        })
        $("#Reservation-button").click(function() {
            var startTime = $("#startDate").val();
            var endDate = $("#endDate").val();
            var petId = $("#petId").val();
            var petSitterId = $("#petSitterId").val();
            if (startDate === "" || endDate === ""|| petId === ""|| petSitterId  === "") {
                alert("예약 정보를 입력해주세요.");
                return false;
            }
            //- Ajax 코드
            $.ajax({
                type: "POST",
                url: "/api/reservation",
                data: $('.validation-form').serialize(),
                success: function(response) {
                    // 여기에서 실제로 모달을 표시합니다.
                    $('#reservation-success').modal('show');
                },
                error: function(error) {
                    alert("서버 오류가 발생했습니다. 다시 시도해주세요.");
                    console.log(error)
                }
            });
        });
        // 확인 버튼을 누르면 페이지 이동
        $('#reservation-success').find('.btn-secondary').on('click', function() {
            window.location.href = '/';
        });
    });